<div class="card">
    <div class="card-header">
        Registrar nuevo customer
    </div>
    <div class="card-body">
        <form (ngSubmit)="registrar(forma)" #forma="ngForm">
            <div class="form-row">
                <hr width="100%" style="margin-top: 3px; margin-bottom: 10px;">
                <div class="col-md-6 mb-3">
                    <label for="validationServer01">Address:</label>
                    <input type="text" class="form-control" [ngClass]="{'is-invalid' : (!strAddress.valid && strAddress.touched), 'is-valid' : strAddress.valid}" id="validationServer01" name="strAddres" [(ngModel)]="usuario.strAddress" #strAddress="ngModel" required>
                    <div class=" invalid-feedback ">
                        Favor de ingresar una direccion.
                    </div>
                </div>
                <div class="col-md-6 mb-3 ">
                    <label for="validationServer02 ">City:</label>
                    <input type="text " class="form-control is-valid " [ngClass]="{'is-invalid' : (!strCity.valid && strCity.touched), 'is-valid' : strCity.valid}" id="validationServer02 " name="strCity" [(ngModel)]="usuario.strCity " #strCity="ngModel"
                        required>
                    <div class="invalid-feedback ">
                        Favor de ingresar la ciudad.
                    </div>
                </div>
            </div>
            <div class="form-row ">
                <div class="col-md-5 mb-3 ">
                    <label for="validationServer04 ">Country:</label>
                    <input type="text " class="form-control " [ngClass]="{'is-valid' : strCountry.valid && strCountry.touched && strCountry.dirty}" id="validationServer04 " name="strCountry " [(ngModel)]="usuario.strCountry " #strCountry="ngModel" required>
                    <div class="invalid-feedback ">
                        Favor de ingresar el estado.
                    </div>
                </div>
                <!-- <div class="col-md-7 mb-3 ">
                    <label for="validationServerUsername ">Correo electrónico</label>
                    <div class="input-group ">
                        <div class="input-group-prepend ">
                            <span class="input-group-text " id="inputGroupPrepend3 ">@</span>
                        </div>
                        <input type="email " class="form-control " [ngClass]="{'is-invalid': (strCorreo.errors?.pattern || strCorreo.errors?.required) && strCorreo.touched, 'is-valid' : strCorreo.valid }" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" id="validationServerUsername "
                            aria-describedby="inputGroupPrepend3 " name="strCorreo " [(ngModel)]="usuario.strCorreo " #strCorreo="ngModel" required>
                        <div class="invalid-feedback" *ngIf="strCorreo.errors?.required">
                            Es necesario ingresar un correo electrónico.
                        </div>
                        <div class=" invalid-feedback" *ngIf="strCorreo.errors?.pattern">
                            El correo electrónico es inválido.
                        </div>
                    </div>
                </div> -->
                <div class="col-md-5 mb-3 ">
                    <label for="validationServer04 ">District:</label>
                    <input type="text " class="form-control is-invalid " [ngClass]="{'is-invalid' : (!strDistrict.valid && strDistrict.touched), 'is-valid' : strDistrict.valid}" id="validationServer03 " name="strDistrict " [(ngModel)]="usuario.strDistrict " #strDistrict="ngModel"
                        required>
                        <div class="invalid-feedback ">
                            Favor de ingresar el distrito.
                        </div>
                </div>
            </div>
            <div class="form-row ">
            
                <hr width="100% " style="margin-top: 3px; margin-bottom: 10px; ">
                <div class="col-md-6 mb-3 ">
                    <label for="validationServer03 ">First Name</label>
                    <input type="text " class="form-control is-invalid " [ngClass]="{'is-invalid' : (!strFirst_Name.valid && strFirst_Name.touched), 'is-valid' : strFirst_Name.valid}" id="validationServer05 " name="strFirst_Name " [(ngModel)]="usuario.strFirst_Name" #strFirst_Name="ngModel"
                        required>
                    <div class="invalid-feedback ">
                        Favor de ingresar el primer nombre.
                    </div>
                </div>
                <div class="col-md-6 mb-3 ">
                    <label for="validationServer05 ">Last Name</label>
                    <input type="text " class="form-control is-invalid " [ngClass]="{'is-invalid' : (!strLast_Name.valid && strLast_Name.touched), 'is-valid' : strLast_Name.valid}" id="validationServer05 " name="strLast_Name " [(ngModel)]="usuario.strLast_Name" #strLast_Name="ngModel"
                        required>
                    <div class="invalid-feedback ">
                        Favor de ingresar el segundo nombre.
                    </div>
                </div>
            </div>
            <div class="text-right ">
                <button class="btn btn-primary" type="submit" [disabled]="!forma.valid">Registrar</button>
            </div>
        </form>
    </div>
</div>